@import '~@angular/material/theming';

@mixin home-theme($theme) {
    // Extract the palettes you need from the theme definition.
    $background: map-get($theme, background);
    $accent: map-get($theme, accent);
    $primary: map-get($theme, primary);
    // $background: map-get($theme, background);
  
    // Define any styles affected by the theme.
    .home {
      // Use mat-color to extract individual colors from a palette.
      // background-color: mat-color($background, background);
      background-color: #AAAAAA;
      border-color: mat-color($accent, A400);
    }

    .mat-card-subtitle {
      color: mat-color($accent, 700);
    }

    // mat-card-title {
    //   background-color: mat-color($primary, A400);    
    //   border-radius: 4px;
    // }

    .mat-card {
      color: white;
      // background-color: mat-color($primary);
      background-color: #333333;
      border-bottom: 3px solid mat-color($accent, A400);  
      margin: 30px;   
    }
  }

  @mixin home-typography($config) {
    .home {
      font: {
        family: mat-font-family($config, body-1);
        size: mat-font-size($config, body-1);
        weight: mat-font-weight($config, body-1);
      }
    }
  }

  .home {
      flex: 1 1 auto;
      // justify-content: center;
      // align-items: center;
      // flex-direction: column;
      padding: 10px;
      color: black;
      // height: 80vh;
      opacity: 0;
  }

  // .home > * {
  //   opacity: 0;
  // }
  .home-text {
    font-family: 'Caveat', cursive;
    font-size: calc(1.9vmax + 1.9vmin);
    // font-size: 60px;
    margin: 1.5vmax;
  }
  .home-emoji {
    // font-family: 'Caveat', cursive;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(2.5vmax + 2.5vmin);
    // font-size: 60px;
    margin: 1.5vmax;
  }

  .ambulance {      
    animation: 1s ambBlink;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;    
    visibility: hidden;
    margin: 0;
  }
  
@keyframes ambBlink {
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
}