<div class="home" [@hidden]="hidden" (@hidden.done)="hiddenDone($event)">

    <mat-card>
        <mat-card-header>
          <mat-card-title>About me</mat-card-title>
          <mat-card-subtitle>You've been warned</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Here is something you didn't know about me...
          </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>My work</mat-card-title>
            <mat-card-subtitle>I work hard</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Here is something you didn't know about my work...
            </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>My experience</mat-card-title>
            <mat-card-subtitle>I'm wise</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Here is something you didn't know about my experience...
            </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Contact info</mat-card-title>
            <mat-card-subtitle>I'm avaliable</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Email, phone, facebook - I've got them all!
            </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>

    <!-- <mat-toolbar color="primary">
        <span>Content about me</span>
    </mat-toolbar>
    <mat-toolbar color="primary">
        <span>Content about my work</span>
    </mat-toolbar>
    <mat-toolbar color="primary">
        <span>Content about my experience</span>
    </mat-toolbar>
    <mat-toolbar color="primary">
        <span>Contact info</span>
    </mat-toolbar> -->
</div>